

a{text-decoration: none;}


header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

//Nav-Bar

.masChicoLogo{
  width: 150px;
}

.bg-della{
background-color: #AB6550;
opacity: 0.95;
}

.navFont{
font-size: 1rem;
color: white;
}

.fontBlack{
color: black;
}

#nav ul li a:hover{
font-weight: 600;
}

// Icono whatsapp

#whatsapp{
  display: flex;
  justify-content: right;
  vertical-align: bottom;
  position:fixed;
  bottom:30px;
  right:40px;
  z-index:100;
}

.masChico{
  width: 80px !important;
}


/*Clases propias*/



.bg-copyright{
background-color: black;
}

.claseNumero{
  color: white;
}

.boton-della{
  color: #AB6550 !important;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5em 1em;
  background-color: white;
  border: 2px solid;
  border-color: #AB6550;
  position: relative;
  border-radius: 10px;
  &:hover{
  color: #AB6550 !important;
  box-shadow: 0 4px 16px #AB6550;
  transition: all 0.2s ease;
          }
  }

  #encabezadoSm{
    visibility: hidden !important;
    margin-top: -20px;
  }

.boton-della-encabezado{
  color: #AB6550 !important;
  font-size: map-get($map:$textSize,$key:'small');
  font-weight: 600;
  padding: 0.5em 1em;
  background-color: white;
  border: 2px solid;
  border-color: #AB6550;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  &:hover{
  color: #AB6550 !important;
  box-shadow: 0 4px 16px #AB6550;
  transition: all 0.2s ease;
          }
  }

.boton-della-encabezado-sm{
@extend .boton-della-encabezado;
  visibility: hidden !important;
  &:hover{
  color: #AB6550 !important;
  box-shadow: 0 4px 16px #AB6550;
  transition: all 0.2s ease;
        }
  }

.efectoImg{
  transition: transform .5s; /* Animation */
  overflow:hidden;
}

.efectoImg:hover{
  transform:scale(1.3);
}

.chisteImg{

@include textoChistes(block,3rem,brown) 

}