#seguinosRedes{
  display: inline-flex;
  align-items: center;
}

#formMargin{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#formMarginCopy{
background-color: rgba(0, 0, 0, 0.2);
margin-top: 0;
margin-bottom: 0;
padding-top: 0;
padding-bottom: 0;
}


.bottom{
bottom: -250px;
}