.masChicoLogo{
  width: 150px;
}

.bg-della{
background-color: #AB6550;
opacity: 0.95;
}

.navFont{
font-size: 1rem;
color: white;
}

.fontBlack{
color: black;
}

#nav ul li a:hover{
font-weight: 600;
}
